# Ignore all
*

# Accept allowed Vagrant VM
!/gui
!/nodejs
!/python
!/php

# General files
!*/Vagrantfile
!.gitignore
!README.md
!LICENSE
!Vagrantfile
!.travis.yml

# Ignore all .vagrant folders
.vagrant
